body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background-color: #36384d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, sans-serif;
}
.outer-box {
  height: 40vh;
  width: 30vw;
  background-color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
}

#text-output {
  font-size: 15px;
  font-weight: bolder;
}

button {
  padding: 8px;
  margin: 5px;
  width: fit-content;
  color: #fff;
  background-color: #232742;
  border-radius: 5px;
  border-style: none;
}
